@model List<Employee>

@* <a class="btn btn-info" asp-action="AddEmp">Add Emp</a>

<form method="post">
    <input type="text" name="str">
    <input type="submit" value="Search">
</form> *@

<table class="table">
    <thead>
        <tr>
            <th scope="col">EMployee ID</th>
            <th scope="col">EMployee Name</th>
            <th scope="col">EMployee Email</th>
            <th scope="col">EMployee Salary</th>
            <th scope="col">EMployee Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var d in Model)
        {
            <tr>
                <th scope="row">@d.empid</th>
                <td>@d.empname</td>
                <td>@d.empemail</td>
                <td>@d.empsalary</td>
                <td>
                    <a class="btn btn-sm btn-danger" asp-action="DelEmp" asp-route-id="@d.empid" onclick="return confirm('Are You Sure?')">Delete</a>

                    <a class="btn btn-sm btn-success" asp-action="EditEmp" asp-route-id="@d.empid">Edit</a>
                </td>
            </tr>
        }


    </tbody>
</table>